* {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.login {
    /*position: relative;*/
    top: 50%;
    width: 450px;
    height: 250px;
    /*display: table;*/
    margin: 150px auto 0 auto;
    background: #fff;
}
.legend {
    position: relative;
    width: 100%;
    /*display: block;*/
    background: #e30616;
    padding: 15px;
    color: white;
    font-size: 1.25rem;
    border-radius: 15px 0;
}
.legend:after {
    content: "";
    background-image: url("../img/full-logo.svg");
    font-size: 20px;
    background-repeat: no-repeat;
    background-position: 265px, 10px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: end;
    position: absolute;
}
.input {
    position: relative;
    width: 90%;
    margin: 15px auto;
}
.input span {
    position: absolute;
    display: block;
    color: black;
    right: 10px;
    top: 8px;
    font-size: 20px;
}
.input input {
    width: 100%;
    padding: 10px 5px 10px 40px;
    /*display: block;*/
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    transition: 0.2s ease-out;
    /*color: black;*/
}
.input input:focus {
    padding: 10px 5px 10px 10px;
    outline: 0;
    border-color: #e30616;
}
.submit {
    width: 105px;
    height: 40px;
    display: block;
    margin: 0 auto -15px auto;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #e30616;
    color: #e30616;
    font-size: 24px;
    cursor: pointer;
    transition: 0.2s ease-out;
}
.submit:hover,
.submit:focus {
    background: #e30616;
    color: #fff;
}
.feedback {
    position: absolute;
    bottom: -70px;
    width: 100%;
    text-align: center;
    color: #fff;
    background: #2ecc71;
    padding: 10px 0;
    font-size: 12px;
    display: none;
    opacity: 0;
}
.feedback:before {
    bottom: 100%;
    left: 50%;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(46, 204, 113, 0);
    border-bottom-color: #2ecc71;
    border-width: 10px;
    margin-left: -10px;
}
.pass-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

