@font-face {
    font-family: 'GolosTextWebRegular';
    src: url("../fonts/Golos-Text_Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

main {
    margin: 0 40px;
}

body {
    overflow-y: scroll;
    font-family: GolosTextWebRegular,Arial,sans-serif;
}

footer {
    margin: 40px;
    border-top: 1px black solid;
}

.page-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
    justify-content: space-between;
    padding: 15px 0 15px;
    margin: 0 40px;
    border-bottom: black 1px solid;
}

.header-logo {
    height: 70px;
}

.user-name__header {
    display: flex;
    justify-content: center;
}

.header-link {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 30px;
    border-right: 1px black solid;
}

.header-link:hover {
    background-color: lightpink;
    transition: background-color .25s;
}

.profile {}

.profile-list {
    list-style: none;
}

.block {
    border-radius: 15px;
    border: 1px black solid;
    align-items: flex-start;
    flex-direction: column;
    margin: 5px;
    overflow: hidden;
}

.project {
    margin: 5px;
}

.project-header {
    display: flex;
    flex-direction: row;
    background-color: #f13f34;
    padding: 5px;
    justify-content: space-between;
}

.ended .project-header {
    background-color: rgba(241,61,52,0.7);
}

.project-header__items {

}

.project-name {
    font-size: 16pt;
    font-weight: bold;
    margin: 5px;
}

.expand {
    user-select: none;
    margin: 5px;
    float: right;
    padding: 1px 10px;
    font-weight: bold;
}

.expanded {
    transform: rotate(-90deg);
    transition: transform .2s;
}

.collapsed {
    transform: rotate(0);
    transition: transform .2s;
}

.project-content {
    display: flex;
    flex-direction: column;
}

.project-description {
    margin: 5px;
}

.project-files {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.action-file {
    user-select: none;
    padding-right: 5px;
}

.action-file:hover {
    color: #f13f34;
    transition: color .1s;
}

.project-bottom {
    display: flex;
    justify-content: space-between;
    background-color: pink;
}

.ended .project-bottom {
    background-color: rgba(255,192,203,0.7);
}

.project-bottom__info {
    list-style: none;
}

.project-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
}

.button {
    padding: 5px;
    display: flex;
    justify-content: center;
}

.hidden {
    visibility: hidden;
    height: 0;
    transition: height 5s;
}

.empty {
    text-align: center;
    padding: 10px;
}

::selection {
    background-color: #e6000e;
    color: #fff;
}

.file-list .file {
    display: flex;
    justify-content: space-between;
}

.file-list .file .file-delete {
    user-select: none;
}
.file-list .file .file-delete:hover {
    color: #f13f34;
    transition: color 0.1s;
 }

input {
    font-family: GolosTextWebRegular,Arial,sans-serif;
}