<!DOCTYPE HTML>
<html lang="ru">
<head>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/modal.css">
    <title>МК - Вопросы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class>
<header>
    <div class="page-header">
        <div class="header-name">
            <img class="header-logo" src="../img/comp-logo-red.svg" alt="logo">
            <h1 style="padding-left: 40px">Вопросы по текущим проектам</h1>
        </div>
        <div class="user-name__header">
            <a class="header-link" href="index.html"><h3>Проекты</h3></a>
            <a class="header-link" href="./forum.html"><h3>Вопросы</h3></a>
            <div class="profile">
                <ul class="profile-list">
                    <li class="user">Фамилия И. О.</li>
                    <li class="user-group">Подразделение</li>
                </ul>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="page-content">
        <div class="block project" style="height: 100%">
            <div class="project-header">
                <div class="project-header__items">
                    <a class="project-name"><h2>Проект для жоского отдыха</h2></a>
                    <a class="priority">приоритет: 3</a>
                    <a class="expires">до 14.04.2023</a>
                </div>
                <a class="expand collapsed"><</a>
            </div>
            <div class="question-content">
                <div class="chat-window">
                    <div class="message-field">
                        <div class="block message">
                            <span class="message-owner">Название группы</span>
                            message
                            <span class="message-time">11.05.2023 10:40</span>
                        </div>
                    </div>
                    <div class="message-field foe">
                        <div class="block message">
                            <span class="message-owner">Название группы</span>
                            message
                            <span class="message-time">11.05.2023 10:40</span>
                        </div>
                    </div>
                    <div class="message-field foe">
                        <div class="block message">
                            <span class="message-owner">Название группы</span>
                            Looooooooooooooooooooooooooooooooong message
                            <span class="message-time">11.05.2023 10:40</span>
                        </div>
                    </div>
                    <div class="message-field foe">
                        <div class="block message">
                            <span class="message-owner">Название группы</span>
                            Veeeeeeeee eeeeeeeeeeeeee eeeeeeeerrrrrrrrrrrrrrrrrr rrrryyyyyyyyy yyyyyyy yyyyyyyyyy looooo oooooo oooooooooooooooooooooong message
                            <span class="message-time">11.05.2023 10:40</span>
                        </div>
                    </div>
                </div>
                <div class="project-bottom">
                    <ul class="project-bottom__info">
                        <li class="owner">Заказчик задачи: Тропик Т. Д. (Отдел кайфа)</li>
                        <li class="executor">Исполнитель: Ехоров Н. А. (Магнит, Лесной пр-т 1а)</li>
                    </ul>
                    <div class="project-buttons">
                        <a class="block button">Отправить</a>
                        <a class="block button">Еще</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<footer>
</footer>
<span class="modal__temps hidden">
    <a class="edit-files">
        <div style="display: flex; flex-direction: column; padding: 5px">
            Текущие файлы:
            <ol class="file-list">
                <li class="file" id="file-1">file.jpg<span class="file-delete">удалить</span></li>
            </ol>
            <div style="display: flex; justify-content: space-between">
                <input type="file" id="load-file" name="load-file">
                <input type="submit" id="add-file" value="Добавить файл">
            </div>
        </div>
    </a>
</span>
<template>

</template>
<script src="../../js/modal.js"></script>
<script src="../../js/forumPage.js" type="module"></script>
</body>
</html>