<!DOCTYPE HTML>
<html lang="ru">
<head>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/modal.css">
    <title>МК - Вопросы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class>
<header>
    <div class="page-header">
        <div class="header-name">
            <img class="header-logo" src="../img/comp-logo-red.svg" alt="logo">
            <h1 style="padding-left: 40px">Вопросы по текущим проектам</h1>
        </div>
        <div class="user-name__header">
            <a class="header-link" href="index.html"><h3>Проекты</h3></a>
            <div class="profile">
                <ul class="profile-list">
                    <li class="user">Фамилия И. О.</li>
                    <li class="user-group">Подразделение</li>
                </ul>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="page-content">
        <div class="big-header">
            <h1 id="project-name">Проект для жоского отдыха</h1>
            <div class="project-info">
                <a class="priority">приоритет: ✦✦✦✦</a>
                <a class="expires">до 14.04.2023</a>
            </div>
        </div>
        <div class="project-description">
            <h2>Описание задачи:</h2>
            <div class="pre-description"></div>
            <div class="block project-files init" style="margin-bottom: 15px">
                <div>
                    Связанные файлы:

                </div>
                <a class="action-file download">Скачать все</a>
            </div>
        </div>
        <div class="block project" style="height: 100%">
            <div class="project-header">
                <a class="project-name">Сообщения</a>
                <a class="expand collapsed"><</a>
            </div>
            <div class="project-content hidden">
                <div class="chat-window">
                    <div class="message-field">
                        <div class="block message">
                            <span class="message-owner">Название группы</span>
                            <div class="message-text">message</div>
                            <span class="message-time">11.05.2023 10:40</span>
                        </div>
                    </div>
                    <div class="message-field foe">
                        <div class="block message">
                            <span class="message-owner">Название группы</span>
                            <div class="message-text">message</div>
                            <span class="message-time">11.05.2023 10:40</span>
                        </div>
                    </div>
                    <div class="message-field foe">
                        <div class="block message admin">
                            <span class="message-owner">Название группы</span>
                            <div class="message-text">Looooooooooooooooooooooooooooooooong message</div>
                            <span class="message-time">11.05.2023 10:40</span>
                        </div>
                    </div>
                    <div class="message-field foe">
                        <div class="block message">
                            <span class="message-owner">Название группы</span>
                            <div class="message-text">Veeeeeeeee eeeeeeeeeeeeee eeeeeeeerrrrrrrrrrrrrrrrrr rrrryyyyyyyyy yyyyyyy yyyyyyyyyy looooo oooooo oooooooooooooooooooooong message</div>
                            <span class="message-time">11.05.2023 10:40</span>
                        </div>
                    </div>
                </div>
                <div class="project-bottom" style="padding-inline: 10px">
                    <div contenteditable="true" class="block message-textarea">Ваше сообщение</div>
                    <div style="display: flex; align-items: center"><a class="block button send-message" style="padding: 5px">Отправить</a></div>
                </div>
            </div>
        </div>
        <ul class="project-bottom__info">
            <li class="owner">Заказчик задачи: Тропик Т. Д. (Отдел кайфа)</li>
<!--            <li class="executor">Исполнитель: Ехоров Н. А. (Магнит, Лесной пр-т 1а)</li>-->
        </ul>
        <div style="display: flex">
            <div class="project-files block" style="margin-inline: 5px; font-size: 1rem; width: 80%">
                Прикрепленные файлы:
                <span class="project-files__list" style="padding-left: 5px"></span>
                <a class="action-file edit">Изменить</a>
            </div>
            <a id="submit-button" class="block button" style="width: 20%">Отправить изменения</a>
        </div>
    </div>

</main>
<footer>
</footer>
<span class="modal__temps hidden">
    <a class="edit-files">
        <div style="display: flex; flex-direction: column; padding: 5px">
            Текущие файлы:
            <ol class="file-list">
                <li class="file" id="file-1">file.jpg<span class="file-delete">удалить</span></li>
            </ol>
            <div style="display: flex; justify-content: space-between">
                <input type="file" id="load-file" name="load-file">
                <input type="submit" id="add-file" value="Добавить файл">
            </div>
        </div>
    </a>
</span>
<template id="message-template">
    <div class="message-field">
        <div class="block message">
            <span class="message-owner">Название группы</span>
            <div class="message-text">message</div>
            <span class="message-time">11.05.2023 10:40</span>
        </div>
    </div>
</template>
<script src="../js/modal.js"></script>
<script src="../js/forumPage.js" type="module"></script>
</body>
</html>