<!DOCTYPE HTML>
<html lang="ru">
<head>
    <link rel="stylesheet" href="../css/style.css">
    <title>Internal Comms Main Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class>
<header class="page-header">
    <div class="page-header-inner">
        <div class="flex: 0 0 25%">
            <a class="header-logo"><img src="../logo.png" alt="logo"></a>
        </div>
        <nav>
            <a class="header-link" href="../templates/projects.html">Проекты</a>
            <a class="header-link" href="../templates/">Отчеты</a>
            <a class="header-link" href="../static/index.html">Главная</a>
        </nav>
    </div>
</header>
<main>
    <h1>Projects page</h1>

</main>
<footer>
</footer>
</body>
</html>