<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/register.css">
    <title>signin-signup</title>
</head>
<body>
<form>
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Вход</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">регистрация</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="email-sign-in" class="label">Email</label>
                        <input id="email-sign-in" type="email" class="input">

                    </div>
                    <div class="group">
                        <label for="pass" class="label">Пароль</label>
                        <span class="pass-icon" id="pass-icon" type="img"><img src="../img/eye.png" style="width: 30px"></span>
                        <input id="pass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <input id="check-rem" type="checkbox" class="check" checked>
                        <label for="check-rem"><span class="icon"></span> Запомнить</label>
                    </div>
                    <div class="group">
                        <form action="../index.html">
                            <input type="submit" class="button" value="Войти" disabled>
                        </form>
                    </div>
                </div>
                <div class="sign-up-htm">
                    <div class="group">
                        <label for="user_sign-up" class="label">Имя</label>
                        <input id="user_sign-up" type="text" class="input" required>
                    </div>
                    <div class="group">
                        <label for="surname_sign-up" class="label">Фамилия</label>
                        <input id="surname_sign-up" type="text" class="input" required>
                    </div>
                    <div class="group">
                        <label for="shop-group" class="label">Подразделение</label>
                        <input id="shop-group" type="text" class="input" placeholder="Введите число" pattern="\d+" required>
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Пароль</label>
                        <span class="pass-icon" id="pass-icon" type="img"><img src="../img/eye.png" style="width: 30px"></span>
                        <input id="pass" type="password" class="input" data-type="password" required>
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Пароль еще раз</label>
                        <span class="pass-icon" id="pass-icon" type="img"><img src="../img/eye.png" style="width: 30px"></span>
                        <input id="pass" type="password" class="input" data-type="password" required>
                    </div>
                    <div class="group">
                        <label for="email" class="label">Email</label>
                        <input id="email" type="email" class="input" required>
                    </div>
                    <div class="group">
                        <input id="check_ruk" type="checkbox" class="check">
                        <label for="check_ruk"><span class="icon"></span> Я руководитель</label>
                    </div>
                    <div class="group">
                        <form action="../index.html">
                            <input type="submit" class="button" value="регистрация" disabled>
                        </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>
</body>
<script type="module" src="../../js/register.js"></script>
</html>