<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/register.css">
    <title>signin-signup</title>
</head>
<body>
<form class="login">
    <fieldset>
        <legend class="legend">Вход в систему</legend>
        <div class="input">
            <input type="email" placeholder="Email" id="email-sign-in" required />
        </div>
        <div class="input">
            <span class="pass-icon" id="pass-icon" type="img"><img src="../img/eye.png" style="width: 30px " alt=""></span>
            <input type="password" placeholder="Пароль" id="password-sign-in" required />
        </div>
        <button type="submit" class="submit" formaction="./index.html" id="sign-in-button">Войти</button>
    </fieldset>
</form>
</body>
<script type="module" src="../js/registerLogic.js"></script>
<script type="module" src="../js/registerRequests.js"></script>
</html>